[Unit]
Description=Gunicorn instance to serve DroneKarta services
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/root/dronekarta/backend
Environment="PATH=/usr/bin"
ExecStart=/usr/bin/gunicorn --workers 3 --bind unix:dronekarta.sock -m 007 wsgi:app

[Install]
WantedBy=multi-user.target
