<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Useful Information</h1>

<ul>
    <li><a href="https://www.dji.com/bg/flysafe/geo-map" target="_blank">FlySafe Zones</a></li>
    <li><a href="https://dronerules.eu/bg/professional/authorities/bulgaria" target="_blank">Drone Rules - Bulgaria</a></li>
    <li><a href="https://www.caa.bg/bg/page/interaktivni-karti" target="_blank">Interactive CAA Maps</a></li>
    <li><a href="" target="_blank"></a></li>
    <li><a href="" target="_blank"></a></li>
</ul>
</body>
</html>