{% extends "layout.html" %}
{% block title %}Technologies{% endblock %}
{% block content %}
<h1>Drone Karta Technologies</h1>
<ul>
    <li><a href="https://www.dji.com/bg/phantom-4-pro-v2" target="_blank">DJI Phantom4 Pro</a></li>
    <li><a href="https://www.dji.com/bg/matrice100" target="_blank">DJI Matrice 100</a></li>
    <li><a href="https://www.dji.com/bg/spreading-wings-s900" target="_blank">DJI S900</a></li>

    <li>GNSS GPS Stations and Receivers</li>

    <li>Leica GPS 08 PLus</li>
    <li>Emlid GNSS RS2 Receivers</li>
    <li>Web Maps Servers</li>
    <li>On prem workloads</li>
    <li>Cloud workload at AWS and GCS</li>
</ul>
{% endblock %}
